* {
    padding: 0;
    margin: 0;
}

/* -------------------Header style ----------------------- */

.header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    background-color: #2b2b2b;
}

.logoTextDiv {
    width: 36%;
    height: auto;
    padding-top: 20px ;
    padding-left: 10px;
    margin-left: 100px;
}
.logoTextDiv span {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
.whiteText {
    color: white;
}
.blue {
    color: #3a51b0
}
.menuDiv {
    width: 35%;
    height: auto;
    padding-top: 32px ;
    font-size: 13px;
}
.main {
    color: #3a51b0;
    font-family: 'Montserrat', sans-serif;
}
.co, .services, .contact {
    padding-left: 20px;
    cursor: pointer;
    color: white;
    font-family: 'Montserrat', sans-serif;
    transition: 0.3s;
}
.co:hover {
    color: #3a51b0;
}
.services:hover {
    color: #3a51b0;
}
.contact:hover {
    color: #3a51b0;
}
/* -------------------IMAGE--------------- */

.introPic {
    width: 75%;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
}

/* ------------------content style ------------ */

.contetnConteiner {
    width: 73%;
    height: 320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.newsConteiner {
    width: 300px;
    height: 300px;
}
.newsConteiner2 {
    width: 300px;
    height: 300px;
}
.socialNetworkConteiner {
    width: 300px;
    height: 300px;
    background-color: #494b52;
    box-shadow: 3px 3px 5px 
}
.callMessage{
    color: white;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
}
.callMessage2 {
    color: #bfb8b8;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    padding-top: 5px ;
    font-size: 10px;
}
.messagePhoneEmail {
    color: #bfb8b8;
    padding-left: 10px;
    padding-top: 15px;
}
.phone,.email{
    color: white;
    padding-left: 10px;
}
.readMoreButton {
    width: 150px;
    height: 30px;
    margin-top: 50px;
    text-decoration: none;
    border: none;
    color: white;
    background: linear-gradient(to top, #6f82d1, #3a51b0);
    cursor: pointer;
}
.iconsDiv {
    width: 100px;
    height: 30px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.fb, .twittwer, .linkedin {
    width: 25px;
    height: 25px;
}

/* --------------------new and job style container--------- */

.newsAndJobContainer {
    width: 75%;
    height: 370px;
    margin-top: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.news {
    width: 60%;
    height: auto;
}
.parent{
    width: 100%;
    height: 180px;
    display: flex;
}

.imageDiv{
    width: 20%;
    height: auto;
    overflow: hidden;
}
.imageDiv img {
    width: 130px;
    height: auto;
    padding-top: 30px;
}
.infoDiv {
    width: 80%;
    height: auto;
    padding-left: 20px;
}
.infoDiv p {
    font-size: 12px;
}
.secondParent {
    width: 100%;
    height: 180px;
    display: flex;
}
.secondImageDiv {
    width: 20%;
    height: 180px;
    overflow: hidden;
}
.secondImageDiv img {
    width: 130px;
    height: auto;
    padding-top: 40px;
}
.secondInfoDiv {
    width: 80%;
    height: 180px;
    padding-left: 20px;

}
.secondInfoDiv p {
    font-size: 12px;
}
.job {
    width: 40%;
    height: auto;
}
.jobContent {
 width: 80%;
 height: auto;
 margin: 0 auto;
 margin-top: 30px;
}
.job span {
    cursor: pointer;
    color: #3a51b0;
    font-family: 'Montserrat', sans-serif;
}
.job span:hover {
    color: #6f82d1;
}

/* --------------footer style -------------- */

.footer {
    width: 100%;
    height: 100px;
    background-color: #4a4947 ;
    margin-top: 20px;
}
.brendName {
    width: 32%;
    height: 20px;
    margin: 0 auto;
}
.brendName span {
    color: white;
}